.login {
	margin-top: 5%;
}

.login p {
	font-size: 50px;
	color: blue;
	font-family: fantasy;
}


h4 {
	color: white;
	font-style: italic;
}

.btn {
	background-color: purple;
}
.navabar {
	background-color: black;
}


